<h1>All the drivers</h1>
<%= link_to 'Click to add new driver', new_driver_path %>

<ol>
  <% @drivers.each do |driver| %>
    <li>
      <p>Name: <%= link_to driver[:name], driver_path(driver[:id]) %></p>
      <p>VIN: <%= driver[:vin] %> </p>
    </li>
    <%end%>
  </ol>
