@import url('https://fonts.googleapis.com/css?family=Delius+Unicase');

main{
  width: 80%;
  margin-left: 10%;
  border: 2px solid orange;
  padding:10px;
}

li p:first-of-type{
  color:lightgrey;
}

*{
  color:white;
  font-family: 'Delius Unicase';
}

article li{
  border: 2px solid orange;
  background-color: coral;
  margin:10px;
  padding: 10px;
}

ul{
  padding:0;
}

a{
  text-decoration: none;
  color: cyan;
  margin: 5px;
}

span{
  float:right;
}

li{
  list-style: none;
}

li p:first-of-type{
  font-size: 1.5rem;
  display: inline;
}


h1{
  text-align: center;
  font-size: 3rem;
  color: cyan;
}

body{
  background-color: lightcoral;
}

div{
  text-align: center;
}

input{
  color:orange;
  display: block;
  margin: 15px;
}

input:last-of-type{
  color:cyan;
  border: 2px solid orange;
  background-color: coral;
}

select{
  border: 2px solid orange;
  background-color: coral;
}
